<div class="app-content style-3 pb-32 signIn-area">
    <div class="tf-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p class="body-6 text-black-5">Ingrese sus credenciales para iniciar sesión</p>
        <fieldset class="input-icon mt-20">
          <span class="icon icon-mail"></span>
          <input type="text" [formControl]="emailControl" placeholder="Ingrese su correo" class="form-control" />
          <div *ngIf="emailControl?.invalid && emailControl?.touched" class="error-message">
            <small *ngIf="emailControl?.errors?.['required']">El correo es obligatorio.</small>
            <small *ngIf="emailControl?.errors?.['email']">Formato de correo inválido.</small>
          </div>
        </fieldset>
        <fieldset class="mt-16 input-icon">
          <div class="box-view-hide">
            <span class="icon icon-lock"></span>
            <input type="password" [formControl]="passwordControl" placeholder="Ingrese su contraseña" class="form-control password-field" />
            <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error-message">
              <small *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</small>
              <small *ngIf="passwordControl?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
            </div>
          </div>
        </fieldset>
        <div class="mt-16 d-flex justify-content-end">
          <a href="" class="h8 text-primary fw-5">¿Olvidó su contraseña?</a>
        </div>
        <button type="submit" class="mt-48 tf-btn primary" [disabled]="loginForm.invalid">Ingresar</button>
      </form>
      <div *ngIf="errorMessage" class="error-message mt-16 text-danger">{{ errorMessage }}</div>
      <p class="mt-70 text-center body-2 fw-5 text-black-5">
        ¿No tienes cuenta? <a href="" class="text-primary fw-7 body-2">Registrarse</a>
      </p>
    </div>
  </div>
  